__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.git
.gitignore
*.md
.vscode
.idea
*.xlsx
*.csv
uploads/*
!uploads/.gitkeep
run.py
convert_excel_to_csv.py
convert_to_csv.py
update_db.py
terraform.exe
*.tf
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
